<?xml version="1.0"?>
<robot>

    <gazebo>
      <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <ros>
            <remapping>odom:=odom/ground_truth</remapping>
        </ros>

        <body_name>base_link</body_name>
        <frame_name>world</frame_name>
        <update_rate>10.0</update_rate>
        <xyz_offset>0 0 0</xyz_offset>
        <rpy_offset>0 0 0</rpy_offset>
        <gaussian_noise>0.01</gaussian_noise>
    </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find go2_description)/config/ros_control/ros_control.yaml</parameters>
      </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
            <angular_velocity>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </z>
            </angular_velocity>
            <linear_acceleration>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </z>
            </linear_acceleration>
            </imu>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>imu</namespace>
                    <remapping>~/out:=data</remapping>
                </ros>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>

    <!-- <gazebo reference="base_link">
        <turnGravityOff>false</turnGravityOff>
    </gazebo> -->

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- FL leg -->
    <gazebo reference="lf_hip_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>

    </gazebo>
    <gazebo reference="lf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="rf_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="lh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="lh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="rh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

</robot>
